// Màu nền body
$background-color-body: #dedede;
// Màu nền main
$background-color-main: white;
// Màu nên header
$background-color-header: #14242d;
// Màu chữ header
$color-header: #ccd1d9;
// Màu của box-shadow main
$color-box-shadow-main: #929090;
// Màu của box-shadown inline main
$color-box-shadow-inline-main: #bdbdbd91;;
// Màu của các icon trên header
$color-icon-header: #fefefe;
