// Màu nền body
$background-color-body: #dedede;
// Màu nền main
$background-color-main: white;
// Màu nên header
$background-color-header: #14242d;
// Màu chữ header
$color-header: #ccd1d9;
// Màu của box-shadow main
$color-box-shadow-main: #929090;
// Màu của box-shadown inline main
$color-box-shadow-inline-main: #bdbdbd91;;
// Màu của các icon trên header
$color-icon-header: #fefefe;
// Màu của boxshadow main left + right
$color-box-shadow-main-left-right:#949292;
// Màu của boxshadow main right
$color-box-shadow-main-right:#939191;
// Màu của boxshadow center
$color-box-shadow-center:#9e9c9c;
// Màu đà tông chính của cv
$color-main-cv:#bc8544;
// Màu đen tông chữ chính của cv
$color-main-black-cv:#353334;
