/**/
/**/
/**/
/**/
/////////////////// MIXIN cho đối tượng cụ thể//////////////////////////////

// Mixin điều chỉnh tham số cho main
@mixin custom-main($position, $z-index, $margin-top, $margin-left) {
  @include custom-position($position, $z-index);
  width: 85vw;
  margin: {
    top: $margin-top;
    left: $margin-left;
  }
}

// Mixin điều chỉnh cho các thẻ h4 tiêu đề trên header
@mixin custom-header-h4($margin-bttom) {
  @include custom-font-weight-size(400, 24px);
  letter-spacing: 1.5px;
  margin: {
    top: 58px;
    bottom: $margin-bttom;
  }
}

/////////////////Kết thúc MIXIN CHO ĐỐI TƯỢNG CỤ THỂ///////////////////////
/**/
/**/
/**/
/**/
///////////////////// MIXIN CHO CÁC CẶP THAM SỐ////////////////////////////

// Mixin điều chỉnh postion
@mixin custom-position($position, $z-index) {
  position: $position;
  z-index: $z-index;
}

// Mixin điều chỉnh width + height
@mixin custom-width-height($width, $height) {
  width: $width;
  height: $height;
}

// Mixin điều chỉnh font-weight + font-size
@mixin custom-font-weight-size($weight, $size) {
  font: {
    weight: $weight;
    size: $size;
  }
}

// Mixin điều chỉnh display flex và hướng của nó
@mixin custom-flex-direction($direction) {
  display: flex;
  flex-direction: $direction;
}

/////////////// KẾT THÚC MIXIN  CHO CÁC CẶP THAM SỐ//////////////////////
/**/
/**/
/**/
/**/
