// import file thông số
@import "configuration";
// import file mixin
@import "mixin";
// Toàn cục
* {
  margin: 0;
  padding: 0;
}
// body
body {
  width: 1349px;
  background-color: $background-color-body;
}
// box shadow cho main
.box-shadow-for-main {
  @include custom-main(absolute, 1, 70px, -580.5px);
  box-shadow: 20px 100px 20px 5px $color-box-shadow-main;
  height: 1700px;
  left: 674px;
}
.box-shadow-left {
  @include custom-shadow-end-page(
    absolute,
    1,
    634px,
    151px,
    $color-box-shadow-main-left-right,
    1811px,
    631px,
    -11px,
    21px,
    17px,
    20px,
    $color-box-shadow-main-right,
    2deg
  );
}
.box-shadow-right {
  @include custom-shadow-end-page(
    absolute,
    1,
    602px,
    151px,
    $color-box-shadow-main-left-right,
    1819px,
    176px,
    -7px,
    20px,
    30px,
    20px,
    $color-box-shadow-main-right,
    -5deg
  );
}

.box-shadow-center {
  @include custom-shadow-end-page(
    absolute,
    1,
    44px,
    37px,
    $color-box-shadow-center,
    1946px,
    1213px,
    5px,
    4px,
    30px,
    20px,
    $color-box-shadow-center,
    0deg
  );
}
// CV
.main {
  @include custom-main(relative, 2, 65px, 94px);
  background-color: $background-color-main;
  box-shadow: inset -4px 0px 20px #bdbdbd91;
  border-radius: 3px;
  padding-bottom: 48px;
  overflow: hidden;
  margin: {
    right: 94px;
    bottom: 150px;
  }
  &-box-shadow {
    @include custom-width-height(500px, 849px);
    @include custom-position(absolute, 999);
    border-radius: 50%;
    background: #c7c7c730;
    top: 1076px;
    left: -130px;
    box-shadow: 0 0 5071px 52px #c1c1c14a;
  }
  // Header của cv
  .header {
    @include custom-width-height(100%, 266px);
    position: relative;
    overflow: hidden;
    display: flex;
    border: {
      top-left-radius: 3px;
      top-right-radius: 3px;
    }
    // Hình nền của header
    &-background {
      @include custom-position(absolute, 1);
      top: -152%;
      width: 100%;
    }
    &-background-nen {
      @include custom-position(absolute, 2);
      @include custom-width-height(100%, 100%);
      opacity: 0.6;
      background: $background-color-header;
    }
    // Kết thúc hình nền của header
    // Div avatar và tên
    &-first {
      @include custom-position(relative, 3);
      // avatar của header
      &-avatar {
        @include custom-width-height(145px, 145px);
        border-radius: 50%;
        overflow: hidden;
        margin: {
          left: 112px;
          top: 42px;
        }
        img {
          width: 100%;
        }
      }
      // Kết thúc avatar của header
      // Thông tin dưới avatar của header
      &-information-under-avatar {
        color: $color-header;
        margin-top: 15px;
        font-family: "Raleway", sans-serif;
        h4 {
          @include custom-font-weight-size(400, 18px);
          @include custom-positon-left(relative, 114px);
          letter-spacing: 0.6px;
        }
        p {
          @include custom-font-weight-size(400, 11.3px);
          @include custom-positon-left(relative, 136px);
          margin-top: 3px;
        }
      }
      // Kết thúc thông tin dưới avatar của header
    }
    // Kết thúc div avatar và tên
    // Div liên hệ trong header
    &-second {
      @include custom-position(relative, 3);
      @include custom-flex-direction(column);
      color: $color-header;
      font-family: "Raleway", sans-serif;
      margin-left: 100px;
      h4 {
        @include custom-header-h4(0px);
      }
      p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 22px;
      }
      p:nth-child(2) {
        margin-top: 27px;
      }
      p:nth-child(3) {
        @include custom-font-weight-size(500, 16px);
        letter-spacing: 1.5px;
        transform: scaleY(1.1) translateY(-2px);
      }
      p:nth-child(4) {
        font-size: 14px;
      }
    }
    // Kết thúc Div liên hệ trong header
    // Div mạng xã hội trong header
    &-thrice {
      @include custom-position(relative, 3);
      @include custom-flex-direction(column);
      color: $color-header;
      margin-left: 105px;
      font-family: "Raleway", sans-serif;
      h4 {
        @include custom-header-h4(4px);
        text-align: center;
      }
      &-icons {
        @include custom-flex-direction(row);
        margin-top: 22px;
        width: 158px;
        justify-content: space-between;
        a {
          @include custom-width-height(34px, 34px);
          @include custom-flex-algin();
          color: $color-icon-header;
          text-decoration: none;
          border: 2px solid $color-icon-header;
          border-radius: 3px;
          display: flex;
          font-size: 23px;
        }
      }
    }
    // Kết thúc Div mạng xã hội trong header
    // Div kết thúc trong header
    &-four {
      @include custom-position(relative, 3);
      @include custom-flex-direction(column);
      align-items: center;
      margin: 0 auto;
      color: $color-header;
      font-family: "Raleway", sans-serif;
      h4 {
        @include custom-header-h4(4px);
        text-align: center;
      }
      a {
        color: $color-icon-header;
        font-size: 85px;
        margin-top: 12px;
      }
      &-arrow-down {
        @include custom-width-height(15px, 15px);
        border-radius: 1px;
        background-color: $color-icon-header;
        transform: rotate(45deg);
        margin-top: -19px;
      }
      p {
        @include custom-font-weight-size(600, 14px);
        text-transform: uppercase;
        transform: scaleY(0.9);
        margin-top: 2px;
        letter-spacing: 0.5px;
      }
      p:nth-child(4) {
        margin-top: 20px;
      }
    }
    // Kết thúc Div kết thúc trong header
  }
  // Kết thúc header của cv
  // Content của cv
  .content {
    @include custom-flex-jus(space-between);
    padding-top: 13px;
    background-color: $background-color-main;
    position: relative;
    @include custom-margin-left-right-top(53px,53px,14px);
    // Div left của content
    &-left {
      @include custom-font-weight-size(600, 12.7px);
      width: 41.2%;
      position: relative;
      // div intro của div left
      &-intro {
        border-radius: 3px;
        border: 2px solid #f0f0f0;
        font-family: "Raleway", sans-serif;
        width: 100%;
        @include custom-padding-left-right-bottom(42px, 42px, 38px);
        color: #aaaaac;
        &-icon {
          @include custom-width-height(27px, 10px);
          @include custom-positon-left(absolute, -17px);
          background: white;
          top: 56px;
          border: 2px solid $color-main-cv;
        }
        img {
          width: 390px;
          margin: {
            left: -4px;
            top: 20px;
          }
        }
        p {
          line-height: 21px;
          letter-spacing: 1px;
          font-size: 11.5px;
        }
        p:nth-child(3) {
          margin-top: 8px;
        }
        p:nth-child(4) {
          margin-top: 14px;
        }
      }
      // Kết thúc div intro của div left
      // Div specialties
      &-specialties {
        margin-top: 9px;
        border-radius: 3px;
        border: 2px solid #f0f0f0;
        font-family: "Raleway", sans-serif;
        width: 100%;
        @include custom-padding-left-right-bottom(42px, 42px, 38px);
        h4 {
          @include h4-intro-education();
        }
        // Div list
        &-list {
          @include custom-flex-jus(space-between);
          width: 109%;
          margin-left: -20px;
          &-item {
            @include custom-flex-direction(column);
            align-items: center;
            &-icon {
              @include custom-width-height(135px, 135px);
              @include custom-flex-algin();
              margin-top: 20px;
              border-radius: 50%;
              border: 2px solid $color-main-cv;
              display: flex;
              i {
                color: $color-main-cv;
                font-size: 75px;
              }
            }
            &-line {
              @include custom-width-height(2px, 34px);
              margin-top: 14px;
              background-color: $color-main-cv;
            }
            h4 {
              font-size: 13px;
              margin-top: 20px;
              letter-spacing: 0.5px;
            }
            p {
              letter-spacing: 0.5px;
              margin-top: 5px;
              font-size: 10px;
              color: #646464;
            }
          }
        }
        // Kết thúc div list
      }
      // Kết thúc div specialties
    }
    // Kết thúc div left của content
    // Div right của content
    &-right {
      width: 41.2%;
      position: relative;
      border-radius: 3px;
      border: 2px solid #f0f0f0;
      font-family: "Raleway", sans-serif;
      @include custom-padding-left-right-bottom(42px, 42px, 38px);
      // space
      &-space {
        height: 15px;
      }
      // kết thúc space
      // Một phần item của -right
      &-list-item {
        position: relative;
        h4 {
          @include h4-intro-education();
        }
        &-line {
          @include custom-width-height(245px, 2px);
          @include custom-positon-left(relative, -42px);
          background-color: #f0f0f0;
          margin: 20px 0px;
        }
        // item
        &-item {
          display: flex;
          // icon
          &-list-icon {
            @include custom-flex-direction(column);
            align-items: center;
            &-icon-oval {
              @include custom-width-height(8px, 8px);
              margin-top: 6px;
              border-radius: 50%;
              background-color: $color-main-cv;
            }
            &-icon-rectangle {
              @include custom-width-height(2px, 45px);
              margin-top: 8px;
              background-color: #bbbbbb;
            }
          }
          // Kết thúc icon
          // nội dung
          &-content {
            margin-left: 14px;
            &-h4 {
              @include custom-font-weight-size(800, 14px);
              letter-spacing: 1px;
            }
            &-description-1 {
              @include custom-font-weight-size(600, 11.5px);
              letter-spacing: 0.7px;
              margin-top: 3px;
            }
            &-description-2 {
              letter-spacing: 0.7px;
              font: {
                size: 12px;
                style: italic;
              }
              color: #aaaaac;
              margin-top: 3px;
            }
          }
          // kết thúc nội dung
        }
        // Kết thúc item
      }
      // Kết thúc một phần item của -right
    }
    // Kết thúc div right của content
  }
  // Kết thúc content của cv
  // Skill của cv
  .skill {
    position: relative;
    border-radius: 3px;
    border: 2px solid #f0f0f0;
    font-family: "Raleway", sans-serif;
    display: flex;
    @include custom-padding-left-right-bottom(42px, 42px, 38px);
    @include custom-margin-left-right-top(53px,53px,9px);
    // my skill
    &-mySkill {
      position: relative;
      width: 50%;
      h4 {
        @include h4-skill();
      }
      &-list {
        position: relative;
        display: flex;
        &-item {
          position: relative;
          display: flex;
          &-left {
            position: relative;
            &-boLder {
              @include custom-width-height(31px, 353px);
              border: {
                top: 2px solid #f0f0f0;
                bottom: 2px solid #f0f0f0;
                left: 2px solid #f0f0f0;
              }
              margin-top: 21px;
            }
            p {
              @include custom-font-weight-size(600, 11px);
              @include custom-positon-left(absolute, -152px);
              width: 306px;
              text-align: center;
              top: 191px;
              background: white;
              letter-spacing: 2px;
              transform: rotate(270deg);
              color: $color-main-cv;
            }
          }
          &-right {
            @include custom-flex-direction(column);
            height: 400px;
            justify-content: space-around;
            margin-left: 20px;
            p {
              @include custom-font-weight-size(600, 13px);
              color: #646464;
            }
          }
        }
        &-item:nth-child(2) {
          margin-left: 50px;
          .skill2 {
            width: 234px;
            top: 190px;
            left: -115px;
          }
        }
      }
    }
    // Kết thúc my skill
    // ngôn ngữ lập trình
    &-pl {
      width: 45%;
      margin-left: 42px;
      h4 {
        @include h4-skill();
      }
      &-list {
        margin-left: -11px;
        &-item {
          @include custom-flex-align-only();
          margin-top: 20px;
          &-icon {
            @include custom-width-height(35px, 35px);
            @include custom-flex-algin();
            border-radius: 5px;
            border: 2px solid $color-main-black-cv;
            display: flex;
            i {
              margin: {
                left: 10px;
                top: 3px;
              }
              font-size: 25px;
              color: $color-main-black-cv;
            }
          }
          p {
            font-family: "Raleway", sans-serif;
            margin-left: 25px;
            font-weight: 800;
            width: 140px;
            letter-spacing: 1.5px;
          }
          &-list {
            @include custom-flex-jus(space-between);
            width: 230px;
            .skill-level {
              @include custom-width-height(11px, 11px);
              border-radius: 50%;
              background-color: #dedee0;
            }
            .enable {
              background-color: $color-main-cv;
            }
          }
        }
      }
    }
    // Kết thúc ngôn ngữ lập trình
  }
  // Kết thúc skill của cv
  // Yêu thích
  .hobbies {
    @include div-skill(#f0f0f0, 3px);
    @include custom-padding-left-right-bottom(42px, 42px, 15px);
    font-family: "Raleway", sans-serif;
    @include custom-margin-left-right-top(53px,53px,9px);
    h4 {
      @include custom-font-weight-size(800, 22px);
      letter-spacing: 2.5px;
      text-transform: uppercase;
      color: $color-main-black-cv;
      margin-top: 16px;
    }
    &-list {
      @include custom-flex-align-only();
      justify-content: space-between;
      width: 104%;
      margin-left: -19px;
      &-item {
        @include custom-flex-direction(column);
        @include custom-width-height(91px, 91px);
        @include custom-flex-algin();
        border-radius: 50%;
        border: 2px solid $color-main-cv;
        i {
          font-size: 50px;
          color: $color-main-black-cv;
        }
        p {
          @include custom-font-weight-size(700, 10px);
          color: $color-main-black-cv;
          margin-top: 5px;
        }
      }
      &-event {
        @include custom-width-height(160px, 160px);
        @include custom-font-weight-size(700, 11px);
        @include div-skill($color-main-cv, 50%);
        color: $color-main-black-cv;
        .r {
          @include charEndCv(absolute, 1, 103px, 80px, 66px, -7px, 10px);
        }
        .v2 {
          @include ovalEndCv(absolute, 2, 130px, 130px, 13px, 13px);
        }
        .w {
          @include charEndCv(absolute, 2, 75px, 95px, 66px, 8px, 8px);
        }
        .v3 {
          @include ovalEndCv(absolute, 3, 100px, 100px, 28px, 27px);
        }
        .s {
          @include charEndCv(absolute, 3, 56px, 96px, 66px, 23px, 10px);
        }
        &-list {
          @include custom-position(absolute, 4);
          top: 59px;
          left: 55px;
        }
      }
    }
  }
  // Kết thúc yêu thích
}
