/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dedede;
}

.box-shadow-for-main {
  position: absolute;
  z-index: 1;
  width: 85vw;
  margin-top: 70px;
  margin-left: -42.5vw;
  box-shadow: 20px 100px 20px 5px #929090;
  height: 855px;
  left: 50%;
}

.main {
  position: relative;
  z-index: 2;
  width: 85vw;
  margin-top: 70px;
  margin-left: auto;
  box-shadow: inset -4px 0px 20px #bdbdbd91;
  background-color: white;
  border-radius: 3px;
  padding-bottom: 48px;
  margin-right: auto;
  margin-bottom: 80px;
}

.main .header {
  width: 100%;
  height: 266px;
  position: relative;
  overflow: hidden;
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.main .header-background {
  position: absolute;
  z-index: 1;
  top: -152%;
  width: 100%;
}

.main .header-background-nen {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #14242d;
}

.main .header-first {
  position: relative;
  z-index: 3;
}

.main .header-first-avatar {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 112px;
  margin-top: 42px;
}

.main .header-first-avatar img {
  width: 100%;
}

.main .header-first-information-under-avatar {
  color: #ccd1d9;
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
}

.main .header-first-information-under-avatar h4 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.6px;
  left: 114px;
  position: relative;
}

.main .header-first-information-under-avatar p {
  font-weight: 400;
  font-size: 11.3px;
  position: relative;
  left: 123px;
  margin-top: 3px;
}

.main .header-second {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  color: #ccd1d9;
  font-family: "Raleway", sans-serif;
  margin-left: 100px;
}

.main .header-second h4 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-top: 58px;
  margin-bottom: 0px;
}

.main .header-second p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 22px;
}

.main .header-second p:nth-child(2) {
  margin-top: 27px;
}

.main .header-second p:nth-child(3) {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.5px;
  transform: scaleY(1.1) translateY(-2px);
}

.main .header-second p:nth-child(4) {
  font-size: 14px;
}

.main .header-thrice {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  color: #ccd1d9;
  margin-left: 105px;
  font-family: "Raleway", sans-serif;
}

.main .header-thrice h4 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-top: 58px;
  margin-bottom: 4px;
  text-align: center;
}

.main .header-thrice-icons {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
  width: 158px;
  justify-content: space-between;
}

.main .header-thrice-icons a {
  width: 34px;
  height: 34px;
  color: #fefefe;
  text-decoration: none;
  border: 2px solid #fefefe;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.main .header-four {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: #ccd1d9;
  font-family: "Raleway", sans-serif;
}

.main .header-four h4 {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-top: 58px;
  margin-bottom: 4px;
  text-align: center;
}

.main .header-four a {
  color: #fefefe;
  font-size: 85px;
  margin-top: 12px;
}

.main .header-four-arrow-down {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  background-color: #fefefe;
  transform: rotate(45deg);
  margin-top: -19px;
}

.main .header-four p {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  transform: scaleY(0.9);
  margin-top: 2px;
  letter-spacing: 0.5px;
}

.main .header-four p:nth-child(4) {
  margin-top: 20px;
}

.main .content {
  padding-top: 13px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 53px;
  margin-right: 53px;
  margin-top: 14px;
}

.main .content-left {
  font-weight: 600;
  font-size: 12.7px;
  width: 41.2%;
  position: relative;
  border-radius: 3px;
  border: 2px solid #f0f0f0;
  font-family: "Raleway", sans-serif;
  color: #aaaaac;
  line-height: 21px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 38px;
}

.main .content-left-icon {
  width: 27px;
  height: 10px;
  position: absolute;
  left: -17px;
  background: white;
  top: 50px;
  border: 2px solid #bc8544;
}

.main .content-left img {
  width: 390px;
  margin-left: -4px;
  margin-top: 14px;
}

.main .content-left p:nth-child(3) {
  transform: translateY(-7px);
}

.main .content-left p:nth-child(4) {
  margin-top: 5px;
}

.main .content-right {
  width: 41.2%;
  position: relative;
  border-radius: 3px;
  border: 2px solid #f0f0f0;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 38px;
}
/*# sourceMappingURL=style.css.map */