* {
  margin: 0;
  padding: 0;
}

#main_canvas {
  display: none;
}

#startScreen {
  margin: {
    top: 15px;
    left: 15px;
  }
  width: 1000px;
  height: 610px;
  background-color: red;
  position: relative;
  background-image: url("../img/forest_1.jpg");
  background-position-y: -130px;
  background-size: cover;
  border-radius: 20px;

  .lottie_1 {
    position: absolute;
    top: 10px;
    right: 50px;
  }

  .logo {
    position: absolute;
    left: 50px;
    width: 500px;
    top: 40px;
  }

  .lottie_2 {
    cursor: pointer;
    position: relative;
    top: 200px;
    left: 400px;
    z-index: 2;
  }

  .lottie_2_box_shadow {
    position: absolute;
    width: 125px;
    height: 125px;
    z-index: 1;
    top: 245px;
    left: 433px;
    border-radius: 50%;
    box-shadow: 17px 20px 18px 6px #cf8c1a5e;
  }

  .lottie_2_name {
    cursor: pointer;
    top: 336px;
    left: 473px;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    color: white;
    font-family: sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    transition: all 1s ease;
  }

  .lottie_3 {
    cursor: pointer;
    position: relative;
    top: 104px;
    left: 642px;
    z-index: 2;
  }

  .lottie_3_box_shadow {
    position: absolute;
    width: 223px;
    height: 213px;
    z-index: 1;
    top: 366px;
    left: 687px;
    border-radius: 50%;
    box-shadow: 17px 20px 18px 6px #cf8c1a5e;
  }

  .lottie_3_name {
    cursor: pointer;
    top: 351px;
    left: 752px;
    font-weight: bold;
    position: absolute;
    z-index: 3;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    transition: all 1s ease;
  }
}
