@charset "UTF-8";
@keyframes waitScreen_white {
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1000px);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

.main {
  width: 1000px;
  height: 610px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
  overflow: hidden;
}

.main .waitScreen {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main .waitScreen img {
  position: absolute;
  transform: scaleY(1.2) translateY(-30px);
  width: 100%;
}

.main .waitScreen_button {
  width: 100%;
  height: 100%;
  background: #00000082;
  position: absolute;
}

.main .waitScreen_button lottie-player {
  position: relative;
  left: 363px;
  top: 144px;
}

.main .waitScreen_button p {
  width: 283px;
  height: 73px;
  cursor: pointer;
  font-weight: bold;
  font-size: 29px;
  color: white;
  font-family: monospace;
  position: relative;
  top: -42px;
  left: 370px;
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .waitScreen_white {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  transition: all 3s ease;
  top: 0px;
  transform: translateY(1000px);
  animation-duration: 6s;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main #startScreen {
  width: 1000px;
  height: 610px;
  display: none;
  background-color: red;
  position: relative;
  background-image: url("../img/forest_1.jpg");
  background-position-y: -130px;
  background-size: cover;
}

.main #startScreen .lottie_1 {
  position: absolute;
  top: 10px;
  right: 50px;
}

.main #startScreen .logo {
  position: absolute;
  left: 50px;
  width: 500px;
  top: 40px;
}

.main #startScreen .lottie_2 {
  cursor: pointer;
  position: relative;
  top: 200px;
  left: 400px;
  z-index: 2;
}

.main #startScreen .lottie_2_box_shadow {
  width: 125px;
  height: 125px;
  position: absolute;
  z-index: 1;
  top: 245px;
  left: 433px;
  border-radius: 50%;
  box-shadow: 17px 20px 18px 6px #cf8c1a5e;
}

.main #startScreen .lottie_2_name {
  cursor: pointer;
  top: 336px;
  left: 473px;
  font-weight: bold;
  position: absolute;
  z-index: 3;
  color: white;
  font-family: monospace;
  font-size: 23px;
  letter-spacing: 1px;
  transition: all 1s ease;
}

.main #startScreen .lottie_3 {
  cursor: pointer;
  position: relative;
  top: 104px;
  left: 642px;
  z-index: 2;
}

.main #startScreen .lottie_3_box_shadow {
  width: 223px;
  height: 213px;
  position: absolute;
  z-index: 1;
  top: 366px;
  left: 687px;
  border-radius: 50%;
  box-shadow: 17px 20px 18px 6px #cf8c1a5e;
}

.main #startScreen .lottie_3_name {
  cursor: pointer;
  top: 351px;
  left: 752px;
  font-weight: bold;
  position: absolute;
  z-index: 3;
  color: white;
  font-family: monospace;
  font-size: 17px;
  letter-spacing: 1px;
  transition: all 1s ease;
}

.main #startScreen .lottie_4 {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  top: 390px;
  left: 457px;
  z-index: 2;
}

.main #screenPlayGame {
  display: none;
  position: relative;
}

.main #screenPlayGame #main_canvas {
  position: absolute;
}

.main #screenPlayGame .level {
  position: absolute;
  z-index: 2;
  font-family: monospace;
  font-weight: bold;
  color: white;
  font-size: 20px;
  left: 40px;
  top: 15px;
}

.main #screenPlayGame .score {
  position: absolute;
  z-index: 2;
  font-family: monospace;
  font-weight: bold;
  color: white;
  font-size: 20px;
  left: 170px;
  top: 15px;
  letter-spacing: 1px;
}

/*
Chuyển display:none từ .waitScreen tới #screenPlayGame sau khi hoàn tất
*/
/*# sourceMappingURL=style.css.map */